@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121214;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

/* Custom scroller to fit linear graphite themes */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #121214;
}

::-webkit-scrollbar-thumb {
  background: #2d2d34;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
